@page "/"

<h1>MongoDB & C# Movie Recommendation Samples</h1>

<div class="container mt-4">
    <div class="row g-4">
        <div class="col-12 col-md-6">
            <NavLink href="/movie-recommendator/mongodb-vector-search-connector" class="text-decoration-none">
                <div class="border rounded-3 p-4 shadow-sm h-100 card-hover" style="cursor:pointer;">
                    <h5 class="text-muted mb-1">Approach #1</h5>
                    <div style="color: #212529;">
                        <h2 class="mb-1">MongoDB Vector Search</h2>
                        <p>
                            Build a Movie Recommendation Agent using <b>Microsoft Agent Framework</b> and <b>MongoDB Vector Search</b>.
                        </p>
                    </div>
                    <span class="btn btn-dark mt-2">Go to Vector Search Sample</span>
                </div>
            </NavLink>
        </div>
        <div class="col-12 col-md-6">
            <NavLink href="/movie-recommendator/mongodb-vector-store-connector" class="text-decoration-none">
                <div class="border rounded-3 p-4 shadow-sm h-100 card-hover" style="cursor:pointer;">
                    <h5 class="text-muted mb-1">Approach #2</h5>
                    <div style="color: #212529;">
                        <h2 class="mb-1">MongoDB Vector Store Connector</h2>
                        <p>
                            Build a Movie Recommendation Agent using <b>Microsoft Agent Framework</b> and <b>MongoDB Vector Store Connector</b>.
                        </p>
                    </div>
                    <span class="btn btn-dark mt-2">Go to Vector Store Connector Sample</span>
                </div>
            </NavLink>
        </div>
    </div>
</div>

